<%= form_for(@activity_sqhd) do |f| %>
  <% if @activity_sqhd.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity_sqhd.errors.count, "error") %> prohibited this activity_sqhd from being saved:</h2>

      <ul>
      <% @activity_sqhd.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
